body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #e9f2ff;
    display: inline-block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #d1e6ff;
}