<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_database_users.css') }}">
    <script src="{{ url_for('static', filename='display_add_user_form.js') }}"></script>

    <title>WMD USERS</title>
</head>
<body>
    <div class="container">
        <h1>WMD USERS</h1>
        <button class="add_movie">Add user</button>
        <form method="post" class = "add_user_form" action="{{ url_for('add_user_to_database') }}">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username">
            </input>
            <br>
            <label for="password">password</label>
            <br>
            <input type="text" name="password">
            </input>
            <br>
            <button type="submit">Submit</button>
        </form>
        <ul>
            {% if user_names %}
            {% for user_name in user_names %}
                <li><a href="{{ url_for('user_login', user_id=user_name[0]) }}">{{ user_name[1] }}</a></li>
            {% endfor %}
        {% else %}
            <li>No users found.</li>
        {% endif %}
        </ul>
    </div>
</body>
</html>