<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_not_available.css') }}">
</head>
<body>
    <div class="container">
        <h1>The movie you were looking for is not available.</h1>
        <a href="{{ url_for('display_user_movies') }}" class="btn-return">Return to User Movies</a>
    </div>
</body>
</html>
